{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 10,
  "useTabs": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}